$main-primary-pink-color: #F65858;
$main-primary-blue-color: #00798A;
$block-color: #97CAD114;
$text-grey-color: #707070;
$text-color: #212121;
$footer-headers-grey: #F6F7F8;
$footer-text-grey: #C5C4C4;